[submodule "extern/vendor/luau"]
	path = extern/vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "extern/vendor/UnityResolve"]
	path = extern/vendor/UnityResolve
	url = https://github.com/issuimo/UnityResolve.hpp.git
[submodule "extern/vendor/imgui"]
	path = extern/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/vendor/texteditor"]
	path = extern/vendor/texteditor
	url = https://github.com/ElCapor/ImGuiColorTextEdit.git
